html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  height: 100vh;
}